<div class="flightBookForm" [ngClass]="{'show': showBookingForm}" >
    <h4>Book for your Flight</h4>
    <div class="selectUsers">
        <h5>Select Number of Users</h5>
        <input type="number" value="1" />
        <div class="flightCost">
            <h5>Total Cost: </h5>
            <div class="price">${{5000*2}}</div>
        </div>
    </div>
    <div class="userDetailsForm">
        <div class="primaryUserDetailsForm">
            <h4>Primary User Details</h4>
            <form ngForm>
                <div class="formField">
                    <h5>Name</h5>
                    <input type="text" required placeholder="Your name" />
                </div>
                <div class="formField">
                    <h5>Age</h5>
                    <input type="number" required placeholder="Your age" />
                </div>
                <div class="formField">
                    <h5>Email</h5>
                    <input type="email" required placeholder="Your email address" />
                </div>
                <div class="formField">
                    <h5>Contact Number</h5>
                    <input type="tel" required placeholder="Phone number" />
                </div>
            </form>
        </div>
    </div>
    <div class="confirmFlightBooking">
        <button type="button">Confirm Booking</button>
        <button type="button" (click)="hideFlightBookFormHandler()">Cancel Booking</button>
    </div>
</div>