/* Flight book form starts */

.flightBookForm {
    width: 100%;
    padding: 0 20px 20px;
    background: white;
    display: none;
}

.flightBookForm.show {
    display: block;
}

.selectUsers,
.flightCost {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.selectUsers input {
    margin-left: 30px;
}

.flightCost {
    justify-content: center;
    margin-left: 40px;
}

.confirmFlightBooking {
    margin: 20px 0;
}

.price {
    font-weight: bold;
    font-size: 15px;
    color: #62cae7;
    margin-left: 10px;
    text-decoration: underline;
}

button {
    padding: 10px 30px;
    background: #62cae7;
    font-weight: bold;
    margin: 40px 20px 0 0;
}

/* Book flight form ends */

/* User Details Form start */

.primaryUserDetailsForm {
    margin: 20px 0;
    padding: 20px;
    background: #f0f2f5;
}

.primaryUserDetailsForm h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

form.formField {
    padding: 0 20px;
    flex: 0 30%;
}

/* User Details Form ends */

.paymentForm h3 {
    margin-top: 40px;
}

.formContainerPayment {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.formContainerPayment .formField {
    flex: 1 1 40%;
}