@import "~bootstrap/dist/css/bootstrap.min.css";
/* host points to the component selector */
:host {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerAligned {
    width: 50%;
    margin: auto;
}