<section class="dashboard">
    <div class="selectFlight">
      <form ngForm>
        <h1>Travel with Ease</h1>
        <div class="selectFlightFilter">
          <div class="destionation">

            <div class="address">
              <h5>From</h5>
              <div class="city">{{fromDestination}}</div>
              <div class="country">Uttar Pradesh, India</div>
              <div class="showInput">
                <!-- Two way binding not working -->
                <input required type="text" placeholder="From" [(ngModel)]="fromDestination" />
              </div>
            </div>
            <div class="directionIcon"></div>
            <div class="address">
              <h5>To</h5>
              <div class="city">{{toDestination}}</div>
              <div class="country">Karnatka, India</div>
              <div class="showInput">
                <!-- Two way binding not working -->
                <input required type="text" placeholder="To" [(ngModel)]="toDestination" />
              </div>
            </div>
          </div>
          <div class="travelDate">
            <h5>Select Date</h5>
            <input type="date" required />
          </div>
        </div>
        <!-- onsubmit="return showFlightsHandler(true)" -->
        <button type="submit" id="showFlight" class="searchFlight" (click)="showFlightsHandler(true)">Search Flight</button>
      </form>
    </div>
    <!-- Dashboard flights list section starts -->
    <section id="flightList" class="flightLists" [ngClass]="{'show': showFlights}">
      <div class="bookFlightContainer">
        <div class="flightDetailsContainer">
          <div class="flightNameDetails">
            <div class="flightLogo">
              <img src="./assets//airasialogo.png" width="20" alt="Air Asia" />
            </div>
            <div class="flightName">
              <p>Air Asia</p>
              <p>I5-314</p>
            </div>
          </div>
          <div class="flightTimeDetails">
            <div class="flightTime">
              <p>5:45</p>
              <p>Noida</p>
            </div>
            <div class="dashed"></div>
            <div class="flightTime">
              <p>5:45</p>
              <p>Banglore</p>
            </div>
          </div>
          <div class="duration">
            <p>2h 10m</p>
            <p>Non Stop</p>
          </div>
          <button type="button" (click)="showFormHandler(true)">Book</button>
        </div>
        <app-book-flight [showBookingForm]="showBookingForm" (hideFlightBookForm)="hideBookingFormHandler($event)"></app-book-flight>
        
      </div>
      <!-- Second item -->
      <div class="flightDetailsContainer">
        <div class="flightNameDetails">
          <div class="flightLogo">
            <img src="./assets//airasialogo.png" width="20" alt="Air Asia" />
          </div>
          <div class="flightName">
            <p>Air Asia</p>
            <p>I5-314</p>
          </div>
        </div>
        <div class="flightTimeDetails">
          <div class="flightTime">
            <p>5:45</p>
            <p>Noida</p>
          </div>
          <div class="dashed"></div>
          <div class="flightTime">
            <p>5:45</p>
            <p>Banglore</p>
          </div>
        </div>
        <div class="duration">
          <p>2h 10m</p>
          <p>Non Stop</p>
        </div>
        <button type="button">Book</button>
      </div>
      <!-- Third item -->
      <div class="flightDetailsContainer">
        <div class="flightNameDetails">
          <div class="flightLogo">
            <img src="./assets//airasialogo.png" width="20" alt="Air Asia" />
          </div>
          <div class="flightName">
            <p>Air Asia</p>
            <p>I5-314</p>
          </div>
        </div>
        <div class="flightTimeDetails">
          <div class="flightTime">
            <p>5:45</p>
            <p>Noida</p>
          </div>
          <div class="dashed"></div>
          <div class="flightTime">
            <p>5:45</p>
            <p>Banglore</p>
          </div>
        </div>
        <div class="duration">
          <p>2h 10m</p>
          <p>Non Stop</p>
        </div>
        <button type="button">Book</button>
      </div>
      <!-- Fourth item -->
      <div class="flightDetailsContainer">
        <div class="flightNameDetails">
          <div class="flightLogo">
            <img src="./assets//airasialogo.png" width="20" alt="Air Asia" />
          </div>
          <div class="flightName">
            <p>Air Asia</p>
            <p>I5-314</p>
          </div>
        </div>
        <div class="flightTimeDetails">
          <div class="flightTime">
            <p>5:45</p>
            <p>Noida</p>
          </div>
          <div class="dashed"></div>
          <div class="flightTime">
            <p>5:45</p>
            <p>Banglore</p>
          </div>
        </div>
        <div class="duration">
          <p>2h 10m</p>
          <p>Non Stop</p>
        </div>
        <button type="button">Book</button>
      </div>
      <!-- Fifth item -->
      <div class="flightDetailsContainer">
        <div class="flightNameDetails">
          <div class="flightLogo">
            <img src="./assets//airasialogo.png" width="20" alt="Air Asia" />
          </div>
          <div class="flightName">
            <p>Air Asia</p>
            <p>I5-314</p>
          </div>
        </div>
        <div class="flightTimeDetails">
          <div class="flightTime">
            <p>5:45</p>
            <p>Noida</p>
          </div>
          <div class="dashed"></div>
          <div class="flightTime">
            <p>5:45</p>
            <p>Banglore</p>
          </div>
        </div>
        <div class="duration">
          <p>2h 10m</p>
          <p>Non Stop</p>
        </div>
        <button type="button">Book</button>
      </div>
    </section>
  </section>