<div class="bookingConfirmed">
    <div class="confirmationMessage">
        <h2>Rajneesh Mishra, Your ticket is booked.</h2>
        <p>Below are the ticket details</p>
    </div>
    <div class="ticketDetails">
        <div class="flightNameDetails">
            <div class="flightLogo">
                <img src="../../assets/airasialogo.png" width="20" alt="Air Asia" />
            </div>
            <div class="flightName">
                <p>Air Asia</p>
                <p>IC-314</p>
            </div>
        </div>
        <h4>Flight Timings</h4>
        <div class="flightTimeDetails">
            <div class="flightTime">
                <h5>Source</h5>
                <p>5.45</p>
                <p>Noida</p>
            </div>
            <div class="dashed"></div>
            <div class="flightTime">
                <h5>Destination</h5>
                <p>8.45</p>
                <p>Banglore</p>
            </div>
        </div>
    </div>
</div>