<div class="bookFlightContainer">
    <div class="flightDetailsContainer">
      <div class="flightNameDetails">
        <div class="flightLogo">
          <img src="./assets/airasialogo.png" width="20" alt="Air Asia" />
        </div>
        <div class="flightName">
          <p>Air Asia</p>
          <p>I5-314</p>
        </div>
      </div>
      <div class="flightTimeDetails">
        <div class="flightTime">
          <p>5:45</p>
          <p>Noida</p>
        </div>
        <div class="dashed"></div>
        <div class="flightTime">
          <p>5:45</p>
          <p>Banglore</p>
        </div>
      </div>
      <div class="duration">
        <p>2h 10m</p>
        <p>Non Stop</p>
      </div>
      <button type="button" (click)="showFormHandler(true)">Book</button>
    </div>
    <app-book-flight [showBookingForm]="showBookingForm" (hideFlightBookForm)="hideBookingFormHandler($event)"></app-book-flight>
    
  </div>